.footer{
    background-color: seashell;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider{
    line-height: 80px;
}
.display-box{
    width: 100%;
    height: 60px;
    margin: 10px 0px;
    background-color: black;
    border: 2px solid steelblue;
    border-radius: 10px;
    color: white;
}
.my-slider{
    width: 100%;
}
