<p-sidebar [(visible)]="display" position="right">
  <app-side-menu></app-side-menu>
</p-sidebar>

<div class="top-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 col-sm-6 text-center text-sm-left">
        <h1 (click)="display = true"><img src="/assets/imgs/audio.jpg" height="60px">{{title}}</h1>
      </div>
      <div class="col-2 col-sm-6 d-sm-none" style="padding-top: 15px;">
        <button type="text" class="ui-button-secondary ui-button-rounded"  (click)="display = true" pButton icon="pi pi-ellipsis-h"></button>
      </div>
    </div>
  </div>
</div>

<div class="main">
<app-top-menu class="d-none d-sm-block" (sidebar)="onSidebar($event)"></app-top-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>

<app-footer-menu [playlist]="songs"></app-footer-menu>